.main .left {
    background-color: rgb(133, 228, 245);
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    left: 0;
    bottom: 100px;
    top:100px;
    left: 25px;
}

.main .right {
   
    width: 60%;
   
    position: absolute;
    right: 25px;
    bottom: 100px;
    top:100px;
}
