.main .s{
    background-color: rgb(133, 228, 245);
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin: 20px;
    min-height: 300px;
    padding: 20px;
}

.main .news {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
    margin: 20px;
    min-height: 300px;
    padding: 50px;

}

.main .news .description{
    font-weight: bold;
}

.main .news img{
    width: 500px;
    float: left;
    margin-right: 30px;
}

.main .news .content {
    text-align: justify;
}

.simp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
   
}

.controlPane {
    text-align: justify;
}

.controlPane .numbered, .controlPane .buttons{
    text-align: center;
}

.controlPane .buttons{
    margin-top: 20px;
}

.buttons button {
    width: 100px;
    height: 40px;
    margin: 15px;
    background-color: rgb(0, 217, 255);
    border: none;
    border-radius: 10px;
    color: white;
}

.buttons button:hover{
    background-color: rgb(0, 179, 211);
}

.hide{
    visibility: hidden;
}

.numbered .active {
    background-color: tomato;
}

.numbered button{
    background-color: rgb(0, 217, 255);
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    margin: 5px;
}
.numbered button:hover{
    background-color: rgb(0, 179, 211);
}

.numbered .active {
    background-color: tomato;
}

.title{
    color: black;
    text-decoration: none;
}